body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Apply space-between to body */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Добавьте пространство между заголовком и ссылкой */
    align-items: center; /* Выровняйте элементы вертикально по центру */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; /* Сделайте элементы списка в строку */
    margin-left: 20px; /* Добавьте небольшое пространство между ссылками */
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main{
    width: 100%;
    display: flex;
}

#crud{
    flex: 1;
}

#crud ul{
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}

#crud ul li{
    width: 100%;
    height: 50px;
    text-align: center;
}

#crud ul li button{
    width: 100%;
    padding: 10px;
    background-color: #666;
    border: none;
    color: #fff;
    cursor: pointer;
}

.cud{
    width: 100%;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 4px;
    color: #fff;
    transition: background-color 0.3s;
}

.cud {
    background-color: #666;
}

#concrete {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

button {
    background-color: #666;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #3d3d3d;
}


#edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    padding: 10px;
    box-sizing: border-box;
}

.card-body label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.card-body input,
.card-body textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.card-body button {
    background-color: #666;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.card-body button:hover {
    background-color: #2f2d2d;
}

#add {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-form {
    display: none;
    width: 70%;
    max-width: 400px;
    margin: 0 auto;
}

#add-form.show {
    display: grid;
}

#showFormBtn {
    background-color: #666;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#showFormBtn:hover {
    background-color: #424040;
}

p {
    margin: 0;
}

span {
    display: inline-block; 
    min-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sec{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}




footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    justify-content: space-between;
}


.a{
    text-decoration: none;
    color: white;
}